<body>
    <div>
        <!-- make a loginForm -->

        <form action="loginForm" method="post">
        <table>
            <tr>
                <td>Email:</td>
                <td><input type="text" name="email" id="email"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password" id="password"></td>
            </tr>
            <tr>
                <td><button>Login</button></td>
            </tr>
        </table>
    </form>
    </div>
</body>